name: Deploy to EC2 using Docker

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      SERVER_IP: ${{ vars.SERVER_IP }}

    steps:
    # 1. Checkout source code
    - name: Checkout Code
      uses: actions/checkout@v4

    # 2. Build Docker image with no cache
    - name: Build Docker Image (No Cache)
      run: |
        docker build --no-cache -t mynginxapp .
        docker save mynginxapp -o mynginxapp.tar

    # 3. Configure SSH so GitHub Action can SSH into EC2
    - name: Configure SSH (Disable Host Checking)
      run: |
        mkdir -p ~/.ssh
        echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
        chmod 600 ~/.ssh/config

    # 4. Load SSH private key from GitHub Secrets
    - name: Load Private Key
      run: |
        echo "$SSH_KEY64" | base64 -d > mykey.pem
        chmod 400 mykey.pem
      env:
        SSH_KEY64: ${{ secrets.SSH_KEY64 }}

    # 5. Upload docker image to EC2 using scp
    # 6. Upload Docker Image (scp)
    - name: Upload Docker Image to EC2
      run: |
        scp -i mykey.pem mynginxapp.tar ec2-user@$SERVER_IP:/home/ec2-user/

    # 7. SSH into EC2 and deploy the image
    - name: Deploy on EC2
      run: |
        ssh -i mykey.pem ec2-user@$SERVER_IP "
          docker load -i /home/ec2-user/mynginxapp.tar
          docker stop myapp || true
          docker rm myapp || true
          docker run -d -p 80:80 --name myapp mynginxapp
        "
