name: CI/CD TO EC2 (DOCKERHUB)

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      SERVER_IP: ${{ vars.SERVER_IP }}
      DOCKER_REPO: ${{vars.DOCKER_REPO}}

    steps:
      # 1. Checkout repo
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. Login to dockerhub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # 2. Build Docker Image
      - name: Build Docker Image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/$DOCKER_REPO:latest .


      # 4. Push image to Docker Hub
      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/$DOCKER_REPO:latest

      # 4. Prepare SSH & disable host key checking
      - name: Configure SSH
        run: |
          mkdir -p ~/.ssh
          chmod 700 ~/.ssh
          echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
          chmod 600 ~/.ssh/config

      # 5. Add private key from GitHub Secrets
      - name: Add SSH Key
        env:
          SSH_KEY64: ${{ secrets.SSH_KEY64 }}
        run: |
          echo "$SSH_KEY64" | base64 -d > mykey.pem
          chmod 400 mykey.pem

      # 7. Load & run container on EC2
      - name: Deploy via Docker Compose on EC2
        run: |
          ssh -i mykey.pem ec2-user@$SERVER_IP "
            cd /home/ec2-user/app &&
            docker-compose pull &&
            docker-compose up -d
          "