name: Build & Deploy NGINX Docker App to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      SERVER_IP: ${{ vars.SERVER_IP }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker Image
        run: |
          docker build -t mynginxapp:latest .

      - name: Save Docker Image
        run: |
          docker save mynginxapp:latest -o mynginxapp.tar

      - name: Add SSH Key
        env:
          SSH_KEY64: ${{ secrets.SSH_KEY64 }}
        run: |
          echo "$SSH_KEY64" | base64 -d > mykey.pem
          chmod 400 mykey.pem

      - name: Upload Docker Image to EC2
        run: |
          scp -i mykey.pem mynginxapp.tar ec2-user@$SERVER_IP:/home/ec2-user/

      - name: Deploy on EC2
        run: |
          ssh -i mykey.pem ec2-user@$SERVER_IP "
            docker load -i mynginxapp.tar &&
            docker stop mynginxapp || true &&
            docker rm mynginxapp || true &&
            docker run -d -p 80:80 --name mynginxapp mynginxapp:latest
          "
